<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
    	<link rel="stylesheet" href="loginPage.css">
		<script type = "text/javascript" src="loginPage.js"></script>  
    </head>
	<body>
		<div class="question">
			<div class="question-screen" data-anijs="if: answerSuccess, on: $Security, do: rubberBand animated, after: removeAnim">
				<div class="app-title">
					<h2 id="loadajax">Login</h2>
				</div>
			<div class="question-form">
				<div class="control-group">
				<input type="text" class="question-field" id="questionfield" value="Account" placeholder="How much is 8 + 6 * 3 ?" id="question-name">
				<label class="question-field-icon fui-user" for="question-name"></label>
			</div>
			<div class="control-group">
				<input data-anijs="if: answerError, on: $Security, do: bad, after: removeAnim" id="answerfield" class="question-field" value="" placeholder="Password" id="question-pass">
				<label class="question-field-icon fui-lock" for="question-pass"></label>
			</div>
			<a id="questionButton" data-anijs="if: animationend, on: input, do: rollOut animated, to: div.question-screen, after: removeAnim; if: click, do: pulse animated, to: .question-screen, after: removeAnim" class="btn btn-primary btn-large btn-block" href="#">Login</a>
				<a class="question-link" href="Register.com(put it up later)">Don't have an account? Register</a>
		</div>
	</body>
</html>