body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#logo {
    max-height: 50px;
}

.money {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* This will make the "Money" text take up the available space between the logo and submit button */
}

#submit-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.question {
    margin-bottom: 20px;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.option {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.option:hover {
    background-color: #e1e1e1;
}

.selected {
    background-color: #007bff;
    color: #fff;
}