
/* fight.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  position: relative;
  background-image: url('/images/classroom.png'); /* Adjusted path */
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

select {
  padding: 8px;
  font-size: 16px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: 0;
}

.character {
  position: absolute;
  width: 400px;
  height: 400px;
  background-size: cover;
}

.teacher {
  top: 20px;
  left: 20px;
  background-image: url('/images/character_teacher.png'); /* Adjusted path */
}

.summon {
  position: absolute;
  width: 400px;
  height: 400px;
  background-size: cover;
  top: 20px;
  left: 20px;
}

.student {
  bottom: 20px;
  right: 20px;
  background-image: url('');
}

.student-girl {
  background-image: url('/images/gwalk1.png'); /* Adjusted path */
}

.shield-status {
  position: absolute;
  display: none;
  width: 400px;
  height: 400px;
}
.projection {
  position: absolute;
  width: 50px;
  height: 50px;
  display: none; /* Initially hide the projection */
  background-image: url('/images/pp.png'); /* Set the background image */
  background-size: cover;
}

