
body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  position: relative;
  background-image: url('/images/classroom.png'); /* Adjusted path */
  background-size: cover;
  background-repeat: no-repeat;
}
.character-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 20px; /* Add this line */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
  position: static; /* Add this line */
}
.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

select {
  padding: 8px;
  font-size: 16px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: 0;
}

.character {
  position: absolute;
  width: 400px;
  height: 400px;
  background-size: contain; /* Changed from cover to contain */
}

.teacher {
  top: 20px;
  left: 20px;
  background-image: url('/images/character_teacher.png'); 
}

.summon {
  position: absolute;
  width: 400px;
  height: 400px;
  background-size: cover;
  top: 20px;
  left: 20px;
}

.student {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-image: url('');
}

.student-girl {
  background-image: url('/images/gwalk1.png'); 
}

.shield-status {
  position: absolute;
  display: none;
  width: 400px;
  height: 400px;
}
.projection {
  position: absolute;
  width: 500px;
  height: 500px;
  display: none; /* Initially hide the projection */
  background-image: url('/images/pp.png'); 
  background-size: cover;
}
.knife {
  position: absolute;
  width: 200px;
  height: 200px;
  display: none;
  background-image: url('/images/knife.png'); 
  background-size: cover;
}

.light-wave {
  position: absolute;
  width: 200px;
  height: 200px;
  display: none;
  background-image: url('/images/light.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}